body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
  margin: 0px;
  padding: 0px;
}

body div.st-header {
  width: calc(100% - 50px);
  margin-left: 50px;
  position: fixed;
  float: left;
  top: 0;
  width: calc(100% - 50px);
  min-width: 333px;
  height: 50px;
  z-index: 5;
  background-color: #17ACB3;
}

body span.st-left-header {
  margin-left: 25px;
  color: white;
  line-height: 100%;
  float: left;
  font-size: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 532px) {
  body span.st-left-header {
    display: none;
  }
}

body span.st-right-header {
  font-size: 25px;
  margin-right: 25px;
  float: right;
  min-width: 328px;
}

@media (max-width: 532px) {
  body span.st-right-header {
    margin-right: calc((100% - 328px) / 2);
    position: relative;
  }
}

body span.st-right-header i {
  float: right;
  line-height: 50px;
  margin: 0px 5px;
  text-align: center;
  color: white;
}

body span.st-right-header i.fa-chevron-down {
  font-size: 15px;
}

body span.st-right-header p {
  float: right;
  line-height: 50px;
  margin: 0px 5px;
  text-align: center;
  color: white;
}

body span.st-right-header i.fa-bell::after {
  content: "13";
  position: absolute;
  background: red;
  height: 15px;
  width: 15px;
  top: 8px;
  right: 283px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
  color: white;
}

@media (max-width: 532px) {
  body span.st-right-header i.fa-bell::after {
    right: 262px;
  }
}

body div.st-vertical {
  height: 100vh;
  width: 50px;
  float: left;
  background-color: #424244;
  font-size: 30px;
  text-align: center;
  position: fixed;
  color: #A3A5A7;
  z-index: 5;
  top: 0;
}

@media (max-height: 465px) {
  body div.st-vertical {
    font-size: 22px;
  }
}

body div.st-vertical span.st-selected {
  padding: 5px;
  border-radius: 50%;
  background-color: #252626;
}

body div.st-vertical img {
  height: 35px;
  width: 35px;
  margin-top: 10px;
  margin-bottom: 5px;
}

body div.st-vertical div {
  margin-bottom: 5px;
}

body div.st-vertical div.st-settings {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

@media (max-height: 465px) {
  body div.st-vertical div.st-settings {
    left: 14px;
  }
}

body div.st-ideas {
  width: calc(100% - 104px);
  float: left;
  position: relative;
  top: 50px;
  left: 15px;
  line-height: 40px;
  border-bottom: 1px solid #F1F1F1;
  margin-top: 5px;
  margin-left: 60px;
  height: 35px;
}

body div.st-ideas span.st-ideas {
  font-size: 22px;
  color: #17ACB3;
}

body div.st-view {
  float: right;
  margin-top: 60px;
}

body div.st-view p {
  float: left;
  margin: 8px 15px;
  opacity: 0.5;
}

body div.st-view img.selected {
  margin-right: 30px;
}

body div.st-ideas-status {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-row: 150;
  grid-row: 150px;
  font-size: 50px;
  float: left;
  position: relative;
  width: calc(100% - 105px);
  gap: 10px;
  margin: 25px 76px;
}

@media (max-width: 850px) {
  body div.st-ideas-status {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  body div.st-ideas-status {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body div.st-ideas-status div.icons {
  text-align: right;
  height: 150px;
}

@media (max-width: 500px) {
  body div.st-ideas-status div.icons {
    text-align: center;
  }
}

body div.st-ideas-status div.icons span.st-notification {
  font-size: 16px;
  background-color: #17ACB3;
  padding: 5px 10px;
  border-radius: 50%;
  float: right;
  position: relative;
  right: 94px;
  bottom: 5px;
}

@media (max-width: 500px) {
  body div.st-ideas-status div.icons span.st-notification {
    right: calc((100% + 45px) / 2);
  }
}

body div.st-ideas-status div.icons p {
  font-size: 16px;
  margin: 0px 25px;
  color: #a6a6a6;
}

@media (max-width: 500px) {
  body div.st-ideas-status div.icons2 {
    text-align: center;
  }
}

body div.st-ideas-status div.icons2 span.st-notification {
  font-size: 16px;
  background-color: #17ACB3;
  padding: 5px 10px;
  border-radius: 50%;
  float: none;
  position: relative;
  bottom: 128px;
  left: 15px;
}

@media (max-width: 500px) {
  body div.st-ideas-status div.icons2 span.st-notification {
    position: relative;
    left: -35px;
  }
}

body div.st-ideas-status div.icons2 p {
  font-size: 16px;
  position: relative;
  margin: 0px;
  width: 120px;
  text-align: center;
  max-width: 140px;
  color: #a6a6a6;
}

@media (max-width: 500px) {
  body div.st-ideas-status div.icons2 p {
    margin: 0px auto;
  }
}

body div.st-ideas-status i.fa-border-none {
  text-align: right;
  margin-right: 35px;
}

@media (max-width: 500px) {
  body div.st-ideas-status i.fa-border-none {
    margin: 0px;
  }
}

body div.st-ideas-status i.fa-clock {
  margin-left: 35px;
}

@media (max-width: 500px) {
  body div.st-ideas-status i.fa-clock {
    margin-left: 0px;
    right: 15px;
    position: relative;
  }
}

body div.add-idea,
body div.new-idea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 30px;
  position: relative;
}

body div.add-idea span,
body div.new-idea span {
  border-radius: 50%;
  background-color: white;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  float: left;
  margin: 5px;
}

body div.add-idea p,
body div.new-idea p {
  position: absolute;
  bottom: 5px;
  left: 10px;
  margin: 0px;
  font-size: 20px;
  color: white;
}

body div.add-idea i,
body div.new-idea i {
  position: relative;
  font-size: 120px;
  float: right;
  top: 40px;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
  color: white;
}

body div.add-idea {
  background-color: #17ACB3;
  color: #17ACB3;
}

body div.new-idea {
  background-color: #76cc4e;
  color: #76cc4e;
}

body div.st-main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  float: left;
  width: calc(100% - 111px);
  gap: 10px;
  margin: 25px 76px;
}

@media (max-width: 1460px) {
  body div.st-main-content {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    width: calc(100% - 105px);
  }
}

body div.st-left {
  border-radius: 5px;
  border: 1px solid #17ACB3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div.st-left div.st-title {
  background-color: #17ACB3;
  height: 35px;
  color: white;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 15px;
}

body div.st-left div.st-title span.st-news {
  position: relative;
  top: 5px;
  left: 8px;
}

body div.st-left div.st-idea {
  margin: 0px 15px;
}

body div.st-left div.st-idea span.st-profile {
  color: #296275;
  font-weight: 700;
}

body div.st-left div.st-idea div.st-photo {
  width: 120px;
  height: 120px;
  float: left;
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  body div.st-left div.st-idea div.st-photo {
    height: 50px;
    width: 50px;
    padding-bottom: 70px;
    border-left: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
  }
}

body div.st-left div.st-idea div.st-photo img {
  width: 120px;
  height: 120px;
  float: left;
}

@media (max-width: 500px) {
  body div.st-left div.st-idea div.st-photo img {
    height: 50px;
    width: 50px;
  }
}

body div.st-left div.st-idea div.st-photo i {
  float: left;
  font-size: 55px;
  line-height: 120px;
  text-align: center;
  width: 120px;
  background-color: #929397;
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  body div.st-left div.st-idea div.st-photo i {
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    width: 50px;
    margin-bottom: 70px;
  }
}

body div.st-left div.st-idea div.st-idea-desc {
  float: left;
  width: calc(100% - 122px);
  height: 118px;
  position: relative;
  border-right: 1px solid #F1F1F1;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}

@media (max-width: 500px) {
  body div.st-left div.st-idea div.st-idea-desc {
    width: calc(100% - 52px);
  }
}

body div.st-left div.st-idea div.st-idea-desc span.st-idea-title {
  font-size: 19px;
  padding-left: 5px;
  float: left;
  position: absolute;
  color: #296275;
  font-weight: 600;
  right: 50px;
  height: 30px;
  width: calc(100% - 55px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-left div.st-idea div.st-idea-desc span.st-idea-title:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div.st-left div.st-idea div.st-idea-desc p.st-owner {
  top: 9px;
  position: absolute;
  left: 5px;
  font-size: 14px;
  color: #a6a6a6;
}

body div.st-left div.st-idea div.st-idea-desc div.st-right-icons {
  width: 60px;
  position: absolute;
  right: -16px;
  font-size: 16px;
}

body div.st-left div.st-idea div.st-idea-desc p.st-description {
  color: #a6a6a6;
  margin-top: 10px;
  float: left;
  width: 100%;
  position: absolute;
  top: 32px;
  left: 5px;
  font-size: 14px;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-left div.st-idea div.st-idea-desc p.st-description:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div.st-left div.st-idea div.st-new-input {
  width: calc(100% - 2px);
  display: inline-block;
  min-height: 25px;
  border-bottom: 1px solid #F1F1F1;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
}

body div.st-left div.st-idea div.st-new-input div.st-icon-holder {
  height: 25px;
  width: 25px;
  float: left;
  font-size: 18px;
  line-height: 25px;
  margin: 0 10px;
  text-align: center;
}

body div.st-left div.st-idea div.st-new-input div.st-last {
  line-height: 48px;
}

body div.st-left div.st-idea div.st-new-input p.st-last-comment {
  float: left;
  color: #a6a6a6;
  margin: 0px;
  width: calc(100% - 60px);
  padding-top: 5px;
  font-size: 14px;
  overflow: hidden;
}

body div.st-left div.st-idea div.st-new-input p.st-comment {
  float: left;
  color: #a6a6a6;
  margin: 0px;
  font-size: 14px;
  width: calc(100% - 60px);
}

body div.st-left div.st-idea div.st-new-comment {
  min-height: 37px;
  border-bottom: 1px solid #F1F1F1;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
}

body div.st-left div.st-idea div.st-new-comment div.st-profile-holder {
  height: 30px;
  width: 30px;
  margin-left: 7.5px;
  line-height: 30px;
  float: left;
  text-align: center;
  font-size: 15px;
  background-color: gray;
  border-radius: 50%;
}

body div.st-left div.st-idea div.st-new-comment form.st-text-box input {
  width: calc(100% - 116px);
  margin-left: 8px;
  float: left;
  height: 25px;
}

body div.st-left div.st-idea div.st-new-comment form.st-text-box span.st-methods {
  float: left;
  text-align: center;
  height: 41px;
  width: 64px;
  font-size: 17px;
  line-height: 40px;
  color: white;
}

body div.st-left div.st-idea div.st-new-comment form.st-text-box span.st-methods i.fa-paperclip {
  background-color: gray;
  padding: 7.5px;
  float: left;
}

body div.st-left div.st-idea div.st-new-comment form.st-text-box span.st-methods i.fa-reply {
  background-color: #17ACB3;
  padding: 7.5px;
  float: left;
}

body div.st-left div.st-show-more {
  width: 100%;
  height: 35px;
  background-color: #f7f7f7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

body div.st-left div.st-show-more p {
  width: 100%;
  text-align: center;
  line-height: 35px;
  color: #a6a6a6;
}

body div.st-right {
  border-radius: 5px;
}

body div.st-right div.st-title {
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: #17ACB3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body div.st-right div.st-campaigns {
  margin-bottom: 15px;
  padding: 15px 10px 0px;
  border: 1px solid #17ACB3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

body div.st-right div.st-campaigns div.st-campaign-one,
body div.st-right div.st-campaigns div.st-campaign-two,
body div.st-right div.st-campaigns div.st-campaign-three {
  overflow: hidden;
  position: relative;
  height: 120px;
  width: calc(100% -50px);
  border: 1px solid #F1F1F1;
}

@media (max-width: 500px) {
  body div.st-right div.st-campaigns div.st-campaign-one,
  body div.st-right div.st-campaigns div.st-campaign-two,
  body div.st-right div.st-campaigns div.st-campaign-three {
    height: 100px;
  }
}

body div.st-right div.st-campaigns div.st-campaign-one img,
body div.st-right div.st-campaigns div.st-campaign-two img,
body div.st-right div.st-campaigns div.st-campaign-three img {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 10px;
}

@media (max-width: 500px) {
  body div.st-right div.st-campaigns div.st-campaign-one img,
  body div.st-right div.st-campaigns div.st-campaign-two img,
  body div.st-right div.st-campaigns div.st-campaign-three img {
    height: 50px;
    width: 50px;
  }
}

body div.st-right div.st-campaigns div.st-campaign-one span.st-campaign-name,
body div.st-right div.st-campaigns div.st-campaign-two span.st-campaign-name,
body div.st-right div.st-campaigns div.st-campaign-three span.st-campaign-name {
  font-size: 19px;
  float: left;
  color: #296275;
  font-weight: 700;
  max-width: calc(100% - 170px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-right div.st-campaigns div.st-campaign-one span.st-campaign-name:hover,
body div.st-right div.st-campaigns div.st-campaign-two span.st-campaign-name:hover,
body div.st-right div.st-campaigns div.st-campaign-three span.st-campaign-name:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 500px) {
  body div.st-right div.st-campaigns div.st-campaign-one span.st-campaign-name,
  body div.st-right div.st-campaigns div.st-campaign-two span.st-campaign-name,
  body div.st-right div.st-campaigns div.st-campaign-three span.st-campaign-name {
    max-width: calc(100% - 80px);
  }
}

body div.st-right div.st-campaigns div.st-campaign-one p.st-info,
body div.st-right div.st-campaigns div.st-campaign-two p.st-info,
body div.st-right div.st-campaigns div.st-campaign-three p.st-info {
  margin: 8px 0px 0px 0px;
  color: #a6a6a6;
  position: absolute;
  width: calc(100% - 72px);
  top: 15px;
  font-size: 14px;
  left: 133px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-right div.st-campaigns div.st-campaign-one p.st-info:hover,
body div.st-right div.st-campaigns div.st-campaign-two p.st-info:hover,
body div.st-right div.st-campaigns div.st-campaign-three p.st-info:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 500px) {
  body div.st-right div.st-campaigns div.st-campaign-one p.st-info,
  body div.st-right div.st-campaigns div.st-campaign-two p.st-info,
  body div.st-right div.st-campaigns div.st-campaign-three p.st-info {
    left: 63px;
  }
}

body div.st-right div.st-campaigns div.st-campaign-one p.st-info span.st-profile,
body div.st-right div.st-campaigns div.st-campaign-two p.st-info span.st-profile,
body div.st-right div.st-campaigns div.st-campaign-three p.st-info span.st-profile {
  color: #296275;
  font-weight: 700;
}

body div.st-right div.st-campaigns div.st-campaign-one p.st-description,
body div.st-right div.st-campaigns div.st-campaign-two p.st-description,
body div.st-right div.st-campaigns div.st-campaign-three p.st-description {
  float: left;
  position: absolute;
  color: #a6a6a6;
  margin: 0px;
  font-size: 14px;
  top: 40px;
  left: 133px;
  width: calc(100% - 205px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-right div.st-campaigns div.st-campaign-one p.st-description:hover,
body div.st-right div.st-campaigns div.st-campaign-two p.st-description:hover,
body div.st-right div.st-campaigns div.st-campaign-three p.st-description:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 500px) {
  body div.st-right div.st-campaigns div.st-campaign-one p.st-description,
  body div.st-right div.st-campaigns div.st-campaign-two p.st-description,
  body div.st-right div.st-campaigns div.st-campaign-three p.st-description {
    left: 63px;
    width: calc(100% - 70px);
  }
}

body div.st-right div.st-campaigns div.st-campaign-one span.st-ending,
body div.st-right div.st-campaigns div.st-campaign-two span.st-ending,
body div.st-right div.st-campaigns div.st-campaign-three span.st-ending {
  position: absolute;
  top: 100px;
  font-weight: 700;
  font-size: 14px;
  color: #76cc4e;
}

@media (max-width: 750px) {
  body div.st-right div.st-campaigns div.st-campaign-one span.st-ending,
  body div.st-right div.st-campaigns div.st-campaign-two span.st-ending,
  body div.st-right div.st-campaigns div.st-campaign-three span.st-ending {
    top: 100px;
    left: 135px;
  }
}

@media (max-width: 500px) {
  body div.st-right div.st-campaigns div.st-campaign-one span.st-ending,
  body div.st-right div.st-campaigns div.st-campaign-two span.st-ending,
  body div.st-right div.st-campaigns div.st-campaign-three span.st-ending {
    top: 82px;
    left: 65px;
  }
}

body div.st-right div.st-campaigns div.st-campaign-one span.st-ended,
body div.st-right div.st-campaigns div.st-campaign-two span.st-ended,
body div.st-right div.st-campaigns div.st-campaign-three span.st-ended {
  position: absolute;
  top: 100px;
  font-weight: 700;
  font-size: 14px;
  color: red;
}

@media (max-width: 750px) {
  body div.st-right div.st-campaigns div.st-campaign-one span.st-ended,
  body div.st-right div.st-campaigns div.st-campaign-two span.st-ended,
  body div.st-right div.st-campaigns div.st-campaign-three span.st-ended {
    top: 100px;
    left: 135px;
  }
}

@media (max-width: 500px) {
  body div.st-right div.st-campaigns div.st-campaign-one span.st-ended,
  body div.st-right div.st-campaigns div.st-campaign-two span.st-ended,
  body div.st-right div.st-campaigns div.st-campaign-three span.st-ended {
    top: 82px;
    left: 65px;
  }
}

body div.st-right div.st-campaigns div.st-campaign-one div.st-lightbulb,
body div.st-right div.st-campaigns div.st-campaign-two div.st-lightbulb,
body div.st-right div.st-campaigns div.st-campaign-three div.st-lightbulb {
  float: right;
  font-size: 86px;
  position: relative;
  bottom: -7px;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
  color: #F1F1F1;
}

@media (max-width: 512px) {
  body div.st-right div.st-campaigns div.st-campaign-one div.st-lightbulb,
  body div.st-right div.st-campaigns div.st-campaign-two div.st-lightbulb,
  body div.st-right div.st-campaigns div.st-campaign-three div.st-lightbulb {
    display: none;
  }
}

body div.st-right div.st-campaigns div.st-campaign-one span.st-numb,
body div.st-right div.st-campaigns div.st-campaign-two span.st-numb,
body div.st-right div.st-campaigns div.st-campaign-three span.st-numb {
  position: relative;
  float: right;
  left: 37px;
  color: white;
  padding: 10px 15px;
  background-color: #17ACB3;
  border-radius: 50%;
  top: 25px;
}

@media (max-width: 512px) {
  body div.st-right div.st-campaigns div.st-campaign-one span.st-numb,
  body div.st-right div.st-campaigns div.st-campaign-two span.st-numb,
  body div.st-right div.st-campaigns div.st-campaign-three span.st-numb {
    display: none;
  }
}

body div.st-right div.st-campaigns div.st-new-campaign {
  height: 100px;
  width: 100%;
  background-color: #17ACB3;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
}

body div.st-right div.st-campaigns div.st-new-campaign span.st-number {
  float: left;
  margin: 5px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  color: #17ACB3;
}

@media (max-width: 496px) {
  body div.st-right div.st-campaigns div.st-new-campaign span.st-number {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}

body div.st-right div.st-campaigns div.st-new-campaign span.st-start-new {
  float: left;
  font-size: 25px;
  color: white;
  position: relative;
  top: 65px;
  right: 35px;
}

@media (max-width: 496px) {
  body div.st-right div.st-campaigns div.st-new-campaign span.st-start-new {
    font-size: 18px;
    top: 75px;
    right: 35px;
  }
}

body div.st-right div.st-campaigns div.st-new-campaign div.st-right {
  float: right;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 31px;
  right: 10px;
}

body div.st-right div.st-campaigns div.st-new-campaign i.sbullseye {
  margin-top: 40px;
}

body div.st-right div.st-campaigns div.st-new-campaign i.fa-plus {
  left: 25px;
  bottom: 25px;
  position: relative;
}

body div.st-right div.st-campaigns div.st-show-more-holder {
  width: 100%;
}

body div.st-right div.st-campaigns div.st-show-more-holder p.st-show-more {
  text-align: center;
  width: calc(100% - 10px);
  padding: 5px;
  margin: 0px;
  color: #a6a6a6;
  background-color: #f7f7f7;
}

body div.st-right div.st-all-ideas {
  border: 1px solid #17ACB3;
  border-radius: 5px;
  min-height: 100px;
  overflow: hidden;
}

body div.st-right div.st-all-ideas div.st-title {
  height: 35px;
  width: 100%;
  padding: 0px;
  background-color: #17ACB3;
}

body div.st-right div.st-all-ideas div.st-activity div.st-cards {
  padding: 10px 10px 0px 10px;
  display: -ms-grid;
  display: grid;
  margin-left: 5px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  height: 49px;
  color: #a6a6a6;
  font-size: 18px;
  line-height: 20px;
  -ms-grid-row: 150;
  grid-row: 150px;
  width: calc(100% - 30px);
  float: left;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 15px;
  gap: 5px;
  word-break: break-all;
}

@media (max-width: 550px) {
  body div.st-right div.st-all-ideas div.st-activity div.st-cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  body div.st-right div.st-all-ideas div.st-activity div.st-cards {
    font-size: 14px;
  }
}

@media (max-width: 415px) {
  body div.st-right div.st-all-ideas div.st-activity div.st-cards {
    gap: 2px;
    width: 100%;
    padding: 0px;
  }
}

body div.st-right div.st-all-ideas div.st-activity div.st-cards span {
  top: 10px;
  position: relative;
  height: 48px;
}

body div.st-right div.st-all-ideas div.st-activity div.st-cards div.selected {
  padding-bottom: 14px;
  z-index: 2;
  border-bottom: 15px solid white;
  border-top: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

body div.st-right div.st-all-ideas div.st-activity div.st-cards div.selected span {
  border-bottom: 5px solid #17ACB3;
  position: relative;
  padding-bottom: 15px;
}

body div.st-right div.st-all-ideas div.st-activity div.st-cards div.unselected {
  background-color: #f1eeee;
  border-bottom: 1px solid #b3b3b3;
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail {
  width: 100%;
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail div.st-icon {
  height: 120px;
  width: 120px;
  line-height: 120px;
  text-align: center;
  background-color: #929397;
  font-size: 55px;
  float: left;
  margin: 4px 0px 0px 15px;
  display: block;
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text {
  overflow: hidden;
  height: 118px;
  float: left;
  position: relative;
  width: calc(100% - 150px);
  border: 1px solid #F1F1F1;
  margin-top: 5px;
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text span.st-idea-title {
  padding-left: 5px;
  float: left;
  position: absolute;
  color: #296275;
  top: 5px;
  left: 5px;
  font-size: 19px;
  font-weight: 600;
  width: calc(100% - 55px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text span.st-idea-title:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text div.st-right-icons {
  width: 60px;
  position: absolute;
  right: -16px;
  font-size: 16px;
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text span.st-description {
  color: #a6a6a6;
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 14px;
  width: calc(100% - 15px);
}

@media (max-width: 850px) {
  body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text span.st-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 3;
  }
  body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text span.st-description:hover {
    border: 1px solid #eee;
    padding: 2px;
    white-space: normal;
    word-break: break-word;
    z-index: 5;
    background-color: #eee;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text span.st-description span.st-profile {
  color: #296275;
  font-weight: 600;
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text p.st-text {
  margin-left: 5px;
  color: #a6a6a6;
  max-height: 60px;
  font-size: 14px;
  float: left;
  margin-bottom: 5px;
  position: absolute;
  top: 30px;
  left: 5px;
  width: calc(100% - 15px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-right div.st-all-ideas div.st-activity div.st-thumbnail-text p.st-text:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div.st-right div.st-all-ideas div.st-activity div.st-show-more-holder {
  overflow: hidden;
  width: 100%;
}

body div.st-right div.st-all-ideas div.st-activity div.st-show-more-holder p.st-show-more {
  margin-top: 10px;
  height: 35px;
  width: calc(100% - 30px);
  margin: auto;
  background-color: #f7f7f7;
  text-align: center;
  border: 1px solid #F1F1F1;
  color: #a6a6a6;
  line-height: 35px;
}

body div.st-right div.st-top-contributors {
  overflow: hidden;
  border: 1px solid #17ACB3;
  border-radius: 5px;
  margin-top: 15px;
}

body div.st-right div.st-top-contributors div.st-title {
  background-color: #17ACB3;
  height: 35px;
  color: white;
  font-size: 20px;
  padding: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 15px;
}

body div.st-right div.st-top-contributors div.st-title span.st-title-text {
  position: relative;
  top: 5px;
  left: 8px;
}

body div.st-right div.st-top-contributors div.st-first {
  width: calc(100% - 30px);
  height: 160px;
  margin: 0px 14px;
  float: left;
  border: 1px solid #F1F1F1;
}

@media (max-width: 500px) {
  body div.st-right div.st-top-contributors div.st-first {
    height: 90px;
  }
}

body div.st-right div.st-top-contributors div.st-first div.st-icon {
  height: 150px;
  width: 150px;
  margin: 5px 0px 5px 15px;
  line-height: 150px;
  border-radius: 50%;
  float: left;
  background-color: #a32660;
  color: white;
}

@media (max-width: 500px) {
  body div.st-right div.st-top-contributors div.st-first div.st-icon {
    height: 80px;
    width: 80px;
    line-height: 80px;
  }
}

body div.st-right div.st-top-contributors div.st-first div.st-icon p.name {
  width: 100%;
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 35px;
}

body div.st-right div.st-top-contributors div.st-first div.st-username {
  float: left;
  width: calc(100% - 215px);
  margin-top: 5px;
  height: 55px;
  float: left;
}

@media (max-width: 500px) {
  body div.st-right div.st-top-contributors div.st-first div.st-username {
    margin-left: 7px;
  }
}

body div.st-right div.st-top-contributors div.st-first div.st-username span.st-profile {
  color: #296275;
  font-size: 22px;
  font-weight: 600;
}

body div.st-right div.st-top-contributors div.st-first div.st-username span.st-desc {
  color: #a6a6a6;
}

body div.st-right div.st-top-contributors div.st-first div.st-status {
  float: left;
  border-top: 1px solid #F1F1F1;
  padding-top: 25px;
  width: calc(100% - 415px);
  display: -ms-grid;
  display: grid;
  min-width: 213px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

@media (max-width: 565px) {
  body div.st-right div.st-top-contributors div.st-first div.st-status {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    grid-row-gap: 5px;
  }
}

@media (max-width: 548px) {
  body div.st-right div.st-top-contributors div.st-first div.st-status {
    min-width: 130px;
  }
}

@media (max-width: 500px) {
  body div.st-right div.st-top-contributors div.st-first div.st-status {
    display: none;
  }
}

body div.st-right div.st-top-contributors div.st-first div.st-status span.st-stat {
  text-align: center;
  width: 100%;
  float: left;
  color: #296275;
  font-size: 28px;
}

@media (max-width: 590px) {
  body div.st-right div.st-top-contributors div.st-first div.st-status span.st-stat {
    grid-gap: 5px;
  }
}

body div.st-right div.st-top-contributors div.st-first div.st-status span.st-stat i {
  color: #a6a6a6;
}

body div.st-right div.st-top-contributors div.st-first div.st-status span.st-comment {
  text-align: right;
}

@media (max-width: 565px) {
  body div.st-right div.st-top-contributors div.st-first div.st-status span.st-comment {
    text-align: center;
  }
}

body div.st-right div.st-top-contributors div.st-first div.st-status span.st-notification {
  text-align: center;
}

body div.st-right div.st-top-contributors div.st-first div.st-status span.st-likes {
  text-align: left;
}

@media (max-width: 565px) {
  body div.st-right div.st-top-contributors div.st-first div.st-status span.st-likes {
    text-align: center;
  }
}

body div.st-right div.st-top-contributors div.st-first div.st-status i {
  color: #a6a6a6;
}

body div.st-right div.st-top-contributors div.st-first div.st-bedge {
  -webkit-clip-path: polygon(100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
          clip-path: polygon(100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
  background-color: #17ACB3;
  float: right;
  width: 50px;
  height: 150px;
  bottom: 60px;
  position: relative;
}

@media (max-width: 564px) {
  body div.st-right div.st-top-contributors div.st-first div.st-bedge {
    bottom: 156px;
  }
}

@media (max-width: 548px) {
  body div.st-right div.st-top-contributors div.st-first div.st-bedge {
    bottom: 61px;
  }
}

@media (max-width: 500px) {
  body div.st-right div.st-top-contributors div.st-first div.st-bedge {
    height: 85px;
    line-height: 85px;
    bottom: 0px;
  }
}

body div.st-right div.st-top-contributors div.st-first div.st-bedge p {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
  text-align: center;
}

@media (max-width: 500px) {
  body div.st-right div.st-top-contributors div.st-first div.st-bedge p {
    font-size: 40px;
    color: white;
    margin: 0px;
  }
}

body div.st-right div.st-top-contributors div.st-others {
  width: calc(100% - 30px);
  height: 90px;
  margin: auto;
  display: block;
  float: left;
  margin: 0 14px;
  border: 1px solid #F1F1F1;
}

body div.st-right div.st-top-contributors div.st-others div.st-icon {
  height: 80px;
  width: 80px;
  margin: 5px 0px 5px 15px;
  line-height: 80px;
  float: left;
  border: 1px solid blue;
  margin-right: 5px;
  background-color: white;
}

body div.st-right div.st-top-contributors div.st-others div.st-icon p.name {
  width: 100%;
  margin: 0px;
  text-align: center;
  color: red;
  font-size: 35px;
}

body div.st-right div.st-top-contributors div.st-others div.st-username {
  float: left;
  display: block;
  width: calc(100% - 215px);
  margin-top: 5px;
  height: 45px;
  float: left;
}

body div.st-right div.st-top-contributors div.st-others div.st-username span.st-profile {
  color: #296275;
  font-size: 22px;
  font-weight: 600;
}

body div.st-right div.st-top-contributors div.st-others div.st-username span.st-desc {
  color: #a6a6a6;
}

@media (max-width: 512px) {
  body div.st-right div.st-top-contributors div.st-others div.st-username span.st-desc {
    display: none;
  }
}

body div.st-right div.st-top-contributors div.st-others div.st-status {
  float: left;
  border-top: 1px solid #F1F1F1;
  padding-top: 25px;
  width: calc(100% - 415px);
  display: -ms-grid;
  display: grid;
  min-width: 190px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

@media (max-width: 500px) {
  body div.st-right div.st-top-contributors div.st-others div.st-status {
    display: none;
  }
}

body div.st-right div.st-top-contributors div.st-others div.st-status div.st-stat-holder span.st-stat {
  width: 100%;
  bottom: 15px;
  position: relative;
  float: left;
  color: #296275;
  font-size: 22px;
}

body div.st-right div.st-top-contributors div.st-others div.st-status div.st-stat-holder span.st-comment {
  text-align: right;
}

body div.st-right div.st-top-contributors div.st-others div.st-status div.st-stat-holder span.st-notification {
  text-align: center;
}

body div.st-right div.st-top-contributors div.st-others div.st-status div.st-stat-holder span.st-likes {
  text-align: left;
}

body div.st-right div.st-top-contributors div.st-others div.st-status div.st-stat-holder i {
  color: #a6a6a6;
}

body div.st-right div.st-top-contributors div.st-others div.st-bedge {
  -webkit-clip-path: polygon(100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
          clip-path: polygon(100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
  background-color: #17ACB3;
  float: right;
  width: 50px;
  height: 85px;
  bottom: 50px;
  position: relative;
}

@media (max-width: 500px) {
  body div.st-right div.st-top-contributors div.st-others div.st-bedge {
    bottom: 0px;
  }
}

body div.st-right div.st-top-contributors div.st-others div.st-bedge p {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: white;
  margin: 15px 0px;
}

body div.st-right div.st-top-contributors div.st-third {
  margin-bottom: 92px;
}

/*
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    */
/*# sourceMappingURL=styles.css.map */